{% extends "base.html.twig" %} 

{% block title %}New Episode{% endblock %}

{% block body %}

    <h1>New Episode {{ episode.title }} created</h1>

    <p>Hello, the new episode {{ episode.number }} has been created on Wild Series</p>       
       
    <p>{{ episode.synopsis</p>   
{% endblock %}
</body>